<div class="form-login">
       <style>
              .colortext {
                color: red; /* Красный цвет выделения */
              }
             </style>

  <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
  <div *ngIf="notloginedstatus">
       <p><span class="colortext">Ошибка аутентификации!</span></p>
     </div>
  <ng-container [formGroup]="loginForm">
    <label for="inputEmail"
           class="sr-only">Email</label>
    <input formControlName="email" [class.is-invalid]="email.invalid && email.touched"
           type="email"
           id="inputEmail"
           class="form-control"
           placeholder="Email или Логин"
           required
           autofocus>
    <label for="inputPassword"
           class="sr-only">Пароль</label>
    <input formControlName="password"
           [class.is-invalid]="password.invalid && password.touched"
           type="password"
           id="inputPassword"
           class="form-control mb-3"
           placeholder="Пароль"
           required>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">Войти</button>
  </ng-container>
</div>
