<div class="container" *ngIf="content; else loadingBlock">
  <article class="card">
    <div class="card-header d-flex">
      <div>
        <h1 class="h3">{{content.title}}</h1>
        <div class="badge badge-secondary" *ngIf="content.category?.name">{{content.category?.name}}</div>
        <h4>  Добавлено пользователем:
        <div class="badge badge-secondary" *ngIf="content?.email">{{content.email}}</div></h4>
        <h4>  Запланировано на:
          <input type="datetime-local" readonly value={{content.myDateTime}}></h4>
        <div [innerHTML]="div_tag_div_str"></div>
        
      </div>
      <div class="align-self-center ml-auto" *ngIf="isAuth">
        <a class="btn btn-outline-secondary mr-2" [routerLink]="['/edit', content.id]" *ngIf="isEditable">Редактировать</a>
        <button *ngIf="isEditable" class="btn btn-outline-danger" (click)="openDeleteModal(content)">Удалить</button>
      </div>

    </div>
    <div class="card-body">
      <p>
        {{content.body}}
      </p>
    </div>
  </article>
</div>
<ng-template #loadingBlock>
  <div class="container">
    Загрузка...
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Вы действительно хотите удалить Событие?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="c('Close Click')">Отмена</button>
    <button type="button" class="btn btn-danger" (click)="delete(content.id); c('Delete click')">Удалить</button>
  </div>
</ng-template>
