<div class="card card-">
  <div class="card-header">
    <h4 class="card-title font-weight-bold">{{advertisement.title}}</h4>
    <div class="badge badge-secondary" *ngIf="advertisement.categoryId">{{advertisement.category.name}}</div>
    <h6>  Добавлено пользователем:
      <div class="badge badge-secondary" *ngIf="advertisement?.email">{{advertisement.email}}</div></h6>
      <div class="badge badge-secondary" *ngIf=tagstr_0>{{tagstr_0}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_1>{{tagstr_1}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_2>{{tagstr_2}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_3>{{tagstr_3}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_4>{{tagstr_4}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_5>{{tagstr_5}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_6>{{tagstr_6}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_7>{{tagstr_7}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_8>{{tagstr_8}}</div>&nbsp;&nbsp;
      <div class="badge badge-secondary" *ngIf=tagstr_9>{{tagstr_9}}</div>&nbsp;&nbsp;
  </div>
  <div class="card-body">
    <a routerLink="{{advertisement.id}}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
