<nav class="navbar navbar-expand navbar-dark bg-dark mb-4 d-flex">
  <a class="navbar-brand"
  role="button" (click)="getContent()">Доска объявлений</a>

  <a *ngFor="let tag of tags">
    <a class="badge badge-secondary" *ngIf="tag.count > 0" role="button" (click)="getContentByTag(tag.body)">{{tag.body}}({{tag.count}})</a>
    &nbsp;&nbsp;
  </a>
  <ul class="nav nav-pills ml-auto">
    <ng-container *ngIf="!(isAuth$ | async); else noAuthenticated">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/login">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/signup">Регистрация</a>
      </li>
      
    </ng-container>
    <ng-template #noAuthenticated>
      <li class="nav-item">
        <button class="btn btn-outline-primary"
                (click)="logout()">Выход
        </button>
        <h4>Вы вошли под именем: 
          <span class="badge badge-secondary" *ngIf="userName" role="button" (click)="getContentByUserName()">{{userName()}}</span>&nbsp;&nbsp;</h4>
      </li>
    </ng-template>
  </ul>

  

  <ng-container [formGroup]="form">
<div class="form-group">
  <a class="navbar-brand">Поиск</a><br>
  <input type="text" class="form-control" id="searchStr" formControlName="searchStr" placeholder="Поиск" autofocus>&nbsp;&nbsp;
  <button class="btn btn-outline-primary"
                (click)="getContentBySearchStr()">Искать</button>
</div>
</ng-container>
</nav>